html {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    width: auto;
    margin: 0;
}

header {
    width: auto;
}

.border-line-bottom {
    border-bottom: 1px solid #0D4B28;
}

li.nav-item {
    font-size: 1.4rem;
    padding-top: 5px;
}

section {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

section p {
    text-align: justify;
}

/* style sobre */

#sobre {
    padding-top: 10px;
}

.border-line-top {
    border-top: 1px solid #0D4B28;
}


.text-center-img {
    text-align: center !important;
}

/* style produtos */

.produtos {
    padding-left: 40px;
}

.card {
    width: 30%;
    float: left;
    margin: 5px;
    height: auto;
}

.aling-card {
    padding-left: 35px;
}

/* style form*/

#contato {
    background-color: #0D4B28;
    color: white;
    padding: 20px;
}

input,
textarea {
    margin-bottom: 1rem;
}

.btn-lg {
    padding: 8px;
    font-size: 1.2rem;
}


/* style footer*/

footer {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer small {
    font-size: 80%;
    display: block;
}

@media (max-width: 1440px) {
    col.col-md-4 {
        
        flex-wrap: nowrap;
    }
}

/*tablet*/
@media (max-width: 768px) {
    li.nav-item {
        font-size: 1.2rem;
    }

    .aling-card {
        padding-left: 30px;
    }

    p.card-text {
        text-align: justify;
    }

    #sobre {
        padding: 10px;
    }
  
    .col-md-4 {
        padding-top: 50px;
    }

    .btn-lg {
        padding: 5px;
        font-size: 1rem;
    }

   
}

/*smartphone*/
@media (max-width: 426px) {

    body {
        overflow-x: hidden;
    }

    li.nav-item {
        font-size: 1rem;
    }

    section {
        padding-top: .5rem;
    }

    h2 {
        padding-left: 0px;
    }

    p {
        font-size: .9rem;
    }

    .produtos {
        padding-left: 35px;
    }

    .aling {
        padding-left: 5px;
    }

    .aling p {
        line-height: 1rem;
    }

    .produtos{
        padding-left: 32px;
    }
    div.card {
        width: auto;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 1rem;
    }
   
    .aling-card {
        padding-right: 30px;
    }

    p.card-text {
        text-align: left;
        line-height: 1.2rem;
        font-size: small;
    }

    #padding {
        padding-bottom: 20px;
    }

    .col-md-4 {
        width: auto;
        padding-top: 5px;
    }

    .btn {
        line-height: 1.2rem;
    }

    .btn-lg {
        padding: 10px;
        font-size: 1rem;
    }


}
