body {
    overflow-x: hidden;
}

section {
    padding-bottom: 4rem;
    padding-top: 2rem;
}

li.nav-item {
    font-size: 1.4rem;
    padding-top: 5px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

#border-line {
    border-top: 1px solid #0D4B28;
   
}

.text-center {
    border-bottom: 1px solid #0D4B28;
}

input,
textarea {
    margin-bottom: 1rem;
}

.btn-lg {
    padding: 8px;
    font-size: 1.2rem;
}

.card {
    width: 32%;
    float: left;
    margin: 5px;
}

#contato {
    background-color: #0D4B28;
    color: white;
    padding: 20px;
}

footer {
    display: block;
    float: left;
    width: 100vw;
    text-align: center;
    padding-top: 15px;
}

footer small {
    font-size: 80%;
    display: block;
}
